
.main {
    background-color: $backgroundColor;
    margin-left: 550px;
    margin-bottom: 150px;
    max-width: 70em;
    color: #000;
    h3 {
        background-color: $accentColor;
        color: #fff;
    }
    .skills-box {
        display: flex;
        flex-direction: column;
        padding: 10px;
        .skills-box-row {
            display: flex;
            justify-content: space-around;
            margin-top: 30px;
            .skill {
                padding: 10px;
                display: flex;
                flex-direction: column;
                img {
                    margin: auto;
                    width: 100px;
                    height: 100px;
                }
                p {
                    display: inline-block;
                    text-align: center;
                    font-size: 18px;
                    line-height: 27px;
                    max-width: 250px;
                }
            #firebase img {
                height: 90px;
                width: 70px;
            }
            #sass img {
                height: 80px;
                width: 140px;
            }
        }
    }
    .learning-box-row {
        display: flex;
        justify-content: space-around;
        .skill {
            padding: 10px;
        }
    }
}
}