.sobre-mi-container {
    margin-left: 550px;
    width: 60%;
    height: 500px;
    background-color: $backgroundColor;
    color: #000;
    font-weight: 600;
    h3 {
        background-color: #052629;
        color: #fff;
    }
    .traits-display {
        padding: 25px;
        margin-left: 20px;
    }
}