.porfolio-container {
    margin-left: 550px;
    background-color: $backgroundColor;
    width: 60%;
    height: 500px;
    color: #000;
    display: flex;
    justify-content: space-around;
    .proyecto {
        margin: auto;
        height: 200px;
        width: 200px;
        padding: 30px;
        border: 1px solid $accentColor;
    }
}